@mixin fullWidthBg($background) {
  box-shadow: 0 0 0 100vmax $background;
  clip-path: inset(0 -100vmax);
  background: $background;
}

@mixin dropdownItem {
  padding: 6px;
  color: var(--c-text);
  font-size: var(--fs-label);
  line-height: var(--lh-label);
  font-weight: var(--fw-medium);
  font-family: var(--ff-inter);

  display: flex;
  align-items: center;
  gap: 6px;
  outline: none;
  border-radius: var(--s-border-radius-small);

  .icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iconEnd {
    margin-left: auto;
  }

  &:active,
  &:focus,
  &:hover {
    cursor: pointer;
    background: var(--c-card-background-hovered);
  }
}

@mixin fullWidthInsideContainer() {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin slideFromRight($defaultShowedWidth) {
  transition: all .5s;
  transform: translateX(calc(100% - $defaultShowedWidth));

  &:hover {
    transform: translateX(0);
  }
}

@mixin cardSideButton() {
  border-radius: var(--s-border-radius) 0 0 var(--s-border-radius);
  gap: 6px;
  padding: 5px 10px;
  font-size: var(--fs-span);
  background: var(--c-accent);
  font-weight: var(--fw-light);
  line-height: 1;
}

@mixin ellipsisText() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiLineEllipsis($lineCount) {
  @include ellipsisText();
  white-space: unset;
  display: -webkit-box;
  line-clamp: $lineCount;
  -webkit-line-clamp: $lineCount;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

@mixin mobileDevice() {
  @media screen and (max-width: $bp-sm) {
    @content;
  }
}

@mixin mobilePlusDevice() {
  @media screen and (max-width: $bp-sm-plus) {
    @content;
  }
}

@mixin tabletDevice() {
  @media screen and (max-width: $bp-md) {
    @content;
  }
}

@mixin desktopDevice() {
  @media screen and (min-width: $bp-md) {
    @content;
  }
}

@mixin card() {
  width: 100%;
  height: fit-content;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 16px;
  position: relative;
  border-radius: var(--s-border-radius);
  background: var(--c-main-background);

  &:hover {
    background: var(--c-card-background-hovered);
  }

  @include mobileDevice() {
    gap: 12px;
  }
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 8px;
    display: block;
    height: 4px;
    position: unset;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 19px;
    background-color: var(--c-white-15);
  }
}

@mixin input {
  background: transparent;
  padding: 10px 14px;
  font-size: var(--fs-input);
  line-height: var(--lh-input);
  height: 44px;
  font-family: var(--ff-inter);
  color: var(--c-text);
  outline: none;
  border: 1px solid var(--c-stroke);
  border-radius: var(--s-border-radius-medium);
  width: 100%;

  &.withIcon {
    padding-left: 38px;
  }

  &.small {
    padding: 8px 10px;
    font-size: var(--fs-input-small);
    line-height: var(--lh-input);
    height: 36px;

    &.withIcon {
      padding-left: 34px;
    }
  }

  &.errored {
    border-color: var(--c-error-2);
  }

  &:active:not(:disabled),
  &:focus {
    background: var(--c-card-background-hovered);
    border-color: var(--c-label-secondary);
  }

  &:disabled {
    opacity: var(--s-disabled-opacity);
  }
}
