@import 'mixins';

/* Breakpoints */

$bp-lg: 1440px;
$bp-md: 1024px;
$bp-sm: 568px;

:root {
  /* Colors */

  --c-main-background: #0D0D0D;
  --c-card-background: #121212;
  --c-card-background-hovered: #1D1D1D;
  --c-black-90: rgba(3, 3, 3, 0.9);
  --c-white-12: rgba(255, 255, 255, 0.12);
  --c-white-80: rgba(255, 255, 255, 0.8);
  --c-white-35: rgba(255, 255, 255, 0.35);
  --c-gray-40: rgba(50, 50, 50, 0.4);
  --c-green-15: rgba(84, 220, 97, 0.15);
  --c-green: #54DC61;
  --c-green-2: #1FA02C;
  --c-red: #DA2929;
  --c-orange-15: rgba(220, 125, 84, 0.15);
  --c-orange: #E96C26;
  --c-orange-2: #F97316;
  --c-text: #FFFFFF;
  --c-text-secondary: #D9D9D9;
  --c-error: #FF9288;
  --c-error-2: #D4382B;
  --c-stroke: #3D3D3D;
  --c-stroke-2: #272727;
  --c-button-background-primary: #1475E6;
  --c-button-background-primary-hovered: #0061D2;
  --c-button-background-secondary: #1C2631;
  --c-button-background-secondary-hovered: #26303B;
  --c-button-background-tertiary: rgba(198, 70, 70, 0.1);
  --c-button-background-tertiary-hovered: rgba(198, 70, 70, 0.15);
  --c-button-link-border: #4A698E;
  --c-label-secondary: #60A7FB;
  --c-label-link: #60A5FA;
  --c-label-lihk-hovered: #7EC3FF;
  --c-label-tertiary: #C64646;
  --c-description: #9F9F9F;

  /* Font Family */

  --ff-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --ff-neue-haas: 'Neue Haas Unica Pro', sans-serif;
  --ff-inter: 'Inter', sans-serif;

  /* Font Sizes */

  --fs-h1: 3rem; /* 48px */
  --fs-h2: 2.5rem; /* 40px */
  --fs-h3: 1.875rem; /* 30px */
  --fs-h4: 1.25rem; /* 20px */
  --fs-subheading: 1.25rem; /* 20px */
  --fs-p: 1rem; /* 16px */
  --fs-label: 1rem; /* 16px */
  --fs-list-title: 1.125rem; /* 18px */
  --fs-card-title: 1rem; /* 16px */
  --fs-description: 0.875rem; /* 14px */
  --fs-badge: 0.75rem; /* 12px */
  --fs-input: 1rem; /* 16px */
  --fs-input-error: 0, 75rem; /* 12px */
  --fs-score: 0.875rem;

  @include tabletDevice() {
    --fs-h1: 2.5rem; /* 40px */
    --fs-h2: 2rem; /* 32px */
    --fs-h3: 1.875rem; /* 30px */
    --fs-h4: 1.5rem; /* 24px */
    --fs-subheading: 1.125rem; /* 18px */
    --fs-p: 1rem; /* 16px */
    --fs-label: 1rem; /* 16px */
    --fs-list-title: 1.125rem; /* 18px */
    --fs-card-title: 1rem; /* 16px */
    --fs-description: 0.875rem; /* 14px */
    --fs-badge: 0.75rem; /* 12px */
    --fs-input: 1.125rem; /* 18px */
    --fs-input-error: 0, 75rem; /* 12px */
    --fs-score: 0.875rem;
  }

  @include mobileDevice() {
    --fs-h1: 1.5rem; /* 24px */
    --fs-h2: 1.5rem; /* 24px */
    --fs-h3: 1.313rem; /* 21px */
    --fs-h4: 1.125rem; /* 18px */
    --fs-subheading: 0.875rem; /* 14px */
    --fs-p: 0.875rem; /* 14px */
    --fs-label: 1rem; /* 16px */
    --fs-list-title: 1rem; /* 10px */
    --fs-card-title: 1rem; /* 16px */
    --fs-description: 0.75rem; /* 12px */
    --fs-badge: 0.75rem; /* 12px */
    --fs-input: 0.875rem; /* 14px */
    --fs-input-error: 0, 75rem; /* 12px */
    --fs-score: 0.875rem;
  }

  /* Line heights */

  --lh-h1: 3.25rem;
  --lh-h2: 2.75rem;
  --lh-h3: 2rem;
  --lh-h4: 1.75rem;
  --lh-subheading: 1.75rem;
  --lh-p: 1.5rem;
  --lh-label: 1.25rem;
  --lh-list-title: 1.25rem;
  --lh-card-title: 1.25rem;
  --lh-description: 1.125rem;
  --lh-badge: 1rem;
  --lh-input: 1.5rem;
  --lh-input-error: 1.125rem;
  --lh-score: 1rem;

  @include tabletDevice() {
    --lh-h1: 2.75rem;
    --lh-h2: 2.25rem;
    --lh-h3: 1.875rem;
    --lh-h4: 1.75rem;
    --lh-subheading: 1.375rem;
    --lh-p: 1.5rem;
    --lh-label: 1.5rem;
    --lh-list-title: 1.25rem;
    --lh-card-title: 1.25rem;
    --lh-description: 1.125rem;
    --lh-badge: 1rem;
    --lh-input: 1.5rem;
    --lh-input-error: 1.125rem;
    --lh-score: 1rem;
  }

  @include mobileDevice() {
    --lh-h1: 1.625rem;
    --lh-h2: 1.4375rem;
    --lh-h3: 1.25rem;
    --lh-h4: 1.75rem;
    --lh-subheading: 1.375rem;
    --lh-p: 1.25rem;
    --lh-label: 1.25rem;
    --lh-list-title: 1.375rem;
    --lh-card-title: 1.25rem;
    --lh-description: 1.125rem;
    --lh-badge: 0.875rem;
    --lh-input: 1.5rem;
    --lh-input-error: 1.125rem;
    --lh-score: 1rem;
  }

  /* Font Weights */

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* Sizes */

  --s-indent: 24px;
  --s-container: calc(1200px + (var(--s-indent) * 2));
  --s-header-height: 68px;
  --s-border-radius-huge: 12px;
  --s-border-radius: 8px;
  --s-border-radius-medium: 6px;
  --s-border-radius-small: 4px;
  --s-disabled-opacity: 0.5;

  /* Indexes */

  --i-header: 100;
  --i-ui-details: 90;

  /* Indexes */

  --i-dropdown: 50;
  --i-hover-card: 40;
  --i-modal: 100;

  /* Lib */

  --toastify-color-dark: var(--c-accent);
}
