.title {
  padding-bottom: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-around;
  grid-column-gap: 20px;
  width: 100%;
}
.modal_list {
  padding-top: 10px;
}

.full_list {
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  min-height: 353px;
  max-height: 353px;
  padding: 0;
}

@media screen and (max-width: 450px){
  .row {
    justify-content: unset;
    grid-template-columns: repeat(1, 1fr);
  }

  .full_list {
    min-height: unset;
    padding: 20px;
  }

  .title {
    padding-top: 20px;
  }
}
