global:
  scrape_interval: 1m

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 1m
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']

#remote_write:
#  - url: 'http://prometheus:9090/api/v1/write'
#    basic_auth:
#      username: '<Your Grafana Username>'
#      password: '<Your Grafana Cloud Access Policy Token>'
