@import "src/styles/variables";

.body {
  display: none;
  right: 0;
  position: absolute;
  width: max-content;

  .content {
    cursor: auto;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    padding: 15px 10px;
    background: $c-accent;
    width: 100%;
    max-width: max-content;
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: unset;
  }
}
