@import "src/styles/variables";
@import "src/styles/mixins";

.toggle_btn {
  margin-top: 10px;
  border: 1px solid $c-text;
  text-align: left;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-size: 1em;

  .title {
    font-size: $fs-span;
    color: $c-secondary;
  }

  svg {
    width: $fs-span;
    rotate: 180deg;
    height: $fs-span;
  }
}

.large {
  position: sticky;
  top: $s-header-height;
  z-index: 25;
  border: none;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid $c-text;

  @include fullWidthBg($c-background);

  svg {
    font-size: $fs-h3;
  }

  .title {
    font-size: $fs-h3;
    color: $c-secondary;
  }
  @media screen and (max-width: $bp-sm) {
    .title {
      font-size: $fs-p !important;
    }

    svg {
      font-size: $fs-span;
    }
  }
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;

  .description {
    font-size: 16px;
  }

  @media screen and (max-width: calc($bp-sm + 100px)) {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
}

.content {
  padding-top: 15px;
}

.arrow {
  display: flex;
  align-items: center;
}

.arrow_active {
  svg {
    rotate: 0deg !important;
  }
}
