@import "src/styles/variables";

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    span {
      color: $c-secondary;
    }
  }

  .title a {
    font-size: 1em;
    font-weight: $fw-bold;
  }
}
