@import "src/styles/variables";

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 15px;

  p {
    span {
      color: $c-secondary;
    }
  }

  .title {
    padding-bottom: 10px;

    a {
      font-size: 1em;
      font-weight: $fw-bold;
    }
  }
}
