@import "src/styles/variables";
@import "src/styles/mixins";

.body {
  @include card;

  .title {
    color: $c-secondary;
  }

  .info {
    width: 100%;
  }

  .image {
    width: 100%;
    cursor: pointer;
    border-radius: $s-border-radius;
    height: fit-content;
    position: relative;

    img {
      border-radius: $s-border-radius;
      object-fit: contain;
    }
  }
}

.horizontal {
  flex-direction: row;
  max-width: unset;
  height: unset;
  gap: 40px;

  .image {
    max-width: 150px;
    min-width: 150px;
  }
}

.small {
  @include card_small;
}

@media screen and (max-width: $bp-md){
  .body {
    max-width: unset;
  }

  .horizontal {
    flex-direction: column;
    gap: 15px;

    .image {
      max-width: unset;
    }
  }
}
