.body {
  width: 100%;
  max-width: var(--loader-size);
  min-width: var(--loader-size);
  height: var(--loader-size);
  border: var(--loader-thickness) solid var(--loader-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
