{
    email danilavoronkov2002@gmail.com
}


movie-tracker.dapzer.ru {
    redir https://movie-tracker.app{uri}
}

movie-tracker.app {
    reverse_proxy frontend:3000
}

api.movie-tracker.app {
    reverse_proxy backend:1337
}

adminer.movie-tracker.app {
    reverse_proxy adminer:8080
}

umami.movie-tracker.app {
    reverse_proxy umami:3000
}
