{
    email danilavoronkov2002@gmail.com
}


movie-tracker.dapzer.ru {
    redir https://movietracker.ru{uri}
}

movietracker.ru {
    reverse_proxy frontend:3000
}

api.movietracker.ru {
    reverse_proxy backend:1337
}

adminer.movietracker.ru {
    reverse_proxy adminer:8080
}
