{
    email danilavoronkov2002@gmail.com
}

movie-tracker.app {
    handle_path /sitemaps/* {
        rewrite * /api/sitemaps{path}
        reverse_proxy backend:1337
    }

    reverse_proxy frontend:3000
}

api.movie-tracker.app {
    reverse_proxy backend:1337
}

uptrace.movie-tracker.app {
    reverse_proxy uptrace:14317
}

adminer.movie-tracker.app {
    reverse_proxy adminer:8080
}

umami.movie-tracker.app {
    reverse_proxy umami:3000
}

grafana.movie-tracker.app {
    reverse_proxy grafana:3000
}


registry.movie-tracker.app {
    reverse_proxy registry:5000
}
