{
  "parser": "vue-eslint-parser",
  "root": true,
  "env": { "node": true, "browser": true, "es6": true },
  "settings": { "import/resolver": { "typescript": {} } },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "plugin:vue/base",
    "plugin:vue/vue3-strongly-recommended",
    "plugin:vue/vue3-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "vue/component-tags-order": ["error", {
      "order": [ [ "script", "template" ], "style" ]
    }],
    "vue/no-multiple-template-root": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "vue/attribute-hyphenation": "off",
    "vue/multi-word-component-names": 0
  }
}
