@import "src/styles/variables";

.tabs {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid $text;

  button {
    width: 100%;
    padding: 5px 0;
    font-weight: 400;
    font-size: $span;

    &:not(:last-of-type) {
      border-right: 1px solid $text;
    }

    &:hover,
    &.active {
      color: $highlight;
    }

    svg {
      width: $p;
      height: $p;
      color: $secondary;
    }
  }
}
