@import "src/styles/variables";

.result {
  padding-top: 20px;

  &__items {
    padding: 20px 0;
  }

  &__item-card {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px auto;
    padding: 20px;
    gap: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    &__image {
      height: 100%;
      width: 100%;
      display: block;
    }

    &__title {
      color: #fff ;
    }

    &__release {

    }
  }
}
