@import "src/styles/variables";

.content {
  h3,
  h2 {
    padding-bottom: 10px;
  }

  p {
    padding-top: 5px;
    color: $c-secondary;
    font-weight: $fw-light;
  }

  h3 {
    padding-top: 20px;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 5px;

  li {
    list-style: disc inside;
  }

  a {
    font-weight: $fw-regular;
    font-size: $fs-span;
  }
}
