@import "src/styles/variables";

.home-page-info {
  h3,
  h2 {
    padding-bottom: 10px;
  }

  p {
    padding-top: 5px;
    color: #fff;
    font-weight: $light;
  }

  h3 {
    padding-top: 20px;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    gap: 5px;

    li {
      list-style: disc inside;
    }

    a {
      font-weight: $regular;
      font-size: $span;
    }
  }
}

@media screen and (max-width: $md){

}
