@import "../../../styles/variables";

.body {
  &,
  .list {
    width: fit-content;
    display: flex;
    gap: 15px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
  }

  .item {
    padding: 10px;
    background: $c-primary;
    color: $c-secondary;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: $fs-p;

    &_active,
    &:hover {
      background: $c-highlight;
    }
  }
}

@media screen and (max-width: 550px) {
  .list {
    order: -1;
    flex-basis: 100%;
  }
}
