@import "../../../styles/variables";

.pagination {
  &__pages__list,
  &__pages {
    width: fit-content;
    display: flex;
    gap: 15px;
    margin: 0 auto;
    justify-content: center;
  }

  &__pages {
    flex-wrap: wrap;
  }

  &__page {
    padding: 10px;
    background: $primary;
    color: $secondary;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: $p;

    &_active,
    &:hover {
      background: $highlight;
    }
  }
}

@media screen and (max-width: 550px){
  .pagination {
    &__pages__list {
      order: -1;
      flex-basis: 100%;
    }
  }
}
