services:
  clickhouse:
    image: clickhouse/clickhouse-server:25.3.5
    restart: on-failure
    environment:
      CLICKHOUSE_USER: uptrace
      CLICKHOUSE_PASSWORD: uptrace
      CLICKHOUSE_DB: uptrace
    healthcheck:
      test: [CMD, wget, --spider, -q, "localhost:8123/ping"]
      interval: 1s
      timeout: 1s
      retries: 30
    volumes:
      - ch_data:/var/lib/clickhouse
#    configs:
#      - source: clickhouse_config
#        target: /etc/clickhouse-server/config.d/override.xml
    expose:
      - "8123"
      - "9000"
    networks:
      - uptrace
    deploy:
      resources:
        limits:
          cpus: '.5'
          memory: 3G
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role != manager
          - node.labels.databases != true


  redis:
    image: redis:6.2.2-alpine
    restart: on-failure
    networks:
      - uptrace
    deploy:
      placement:
        constraints:
          - node.role != manager
          - node.labels.databases != true

  postgres:
    image: postgres:17-alpine
    restart: on-failure
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_USER: uptrace
      POSTGRES_PASSWORD: uptrace
      POSTGRES_DB: uptrace
    healthcheck:
      test: [CMD-SHELL, pg_isready -U uptrace -d uptrace]
      interval: 1s
      timeout: 1s
      retries: 30
    volumes:
      - "pg_data:/var/lib/postgresql/data/pgdata"
    expose:
      - "5432"
    networks:
      - uptrace
    deploy:
      placement:
        constraints:
          - node.labels.databases == true

  uptrace:
    image: "uptrace/uptrace:2.0.1"
    restart: on-failure
    env_file: .env
    networks:
      - uptrace
      - caddy-public
    ports:
      - "14317:14317"
      - "14318:14318"
    depends_on:
      - clickhouse
      - postgres
    configs:
      - source: uptrace_config
        target: /etc/uptrace/config.yml
    deploy:
      placement:
        constraints:
          - node.role != manager
          - node.labels.databases != true

#  otelcol:
#    image: otel/opentelemetry-collector-contrib:0.123.0
#    restart: on-failure
#    configs:
#      - source: otel_collector_config
#        target: /etc/otelcol-contrib/config.yaml
#    ports:
#      - "4317:4317"
#      - "4318:4318"
#    extra_hosts:
#      - "host.docker.internal:host-gateway"
#    depends_on:
#      - uptrace
#    networks:
#      - uptrace
#      - movie-tracker-metrics
#    deploy:
#      placement:
#        constraints:
#          - node.role != manager
#          - node.labels.databases != true

#  mailpit:
#    image: axllent/mailpit
#    restart: always
#    expose:
#      - 1025
#      - 8025
#    environment:
#      MP_MAX_MESSAGES: 5000
#      MP_DATA_FILE: /data/mailpit.db
#      MP_SMTP_AUTH_ACCEPT_ANY: 1
#      MP_SMTP_AUTH_ALLOW_INSECURE: 1
#    volumes:
#      - mailpit_data:/data
#    networks:
#      - uptrace
#    deploy:
#      placement:
#        constraints:
#          - node.role != manager
#          - node.labels.databases != true

  vector:
    image: timberio/vector:0.28.X-alpine
    configs:
      - source: vector_config
        target: /etc/vector/vector.toml
    networks:
      - uptrace
    deploy:
      placement:
        constraints:
          - node.role != manager
          - node.labels.databases != true

  #  grafana:
  #    image: grafana/grafana:9.5.3
  #    restart: on-failure
  #    volumes:
  #      - ../../config/grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
  #      - ../../config/grafana/custom.ini:/etc/grafana/grafana.ini
  #    ports:
  #      - '3000:3000'
  #    extra_hosts:
  #      - 'host.docker.internal:host-gateway'
  #    networks:
  #      - uptrace

  prometheus:
    image: prom/prometheus:v2.36.2
    restart: always
    volumes:
      - prometheus_data:/prometheus
    configs:
      - source: prometheus_config
        target: /etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
    networks:
      - uptrace
    extra_hosts:
      - "host.docker.internal:host-gateway"

  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    command:
      - --path.rootfs=/host
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - "/:/host:ro,rslave"
    deploy:
      placement:
        constraints:
          - node.role != manager
          - node.labels.databases != true

configs:
  uptrace_config:
    file: ./uptrace.yml
  otel_collector_config:
    file: ./otel-collector.yaml
  vector_config:
    file: ./vector.toml
  prometheus_config:
    file: ./prometheus/prometheus.yml
  clickhouse_config:
    file: ./clickhouse-config.xml

volumes:
  ch_data:
  pg_data:
  prometheus_data:
  mailpit_data:

networks:
  uptrace:
    name: uptrace
  caddy-public:
    name: caddy-public
    external: true
