@import "variables.scss";
@import "mixins";

:root{
  --toastify-color-dark: #282f43;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

._next,
html,
body,
body > div:first-of-type {
  height: 100%;
}

body {
  background: $c-background;
  background-size: cover;
}

html {
  scroll-padding-top: 10px + $s-header-height;
}

// Scroll

*::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 6px;
  cursor: pointer;
  position: unset;
}

*::-webkit-scrollbar-track {
  border-radius: 2px;
  background: $c-primary
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $c-highlight
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  padding: 72px 0;
  flex: 1 1 auto;

  @media screen and (max-width: $bp-md){
    min-height: 100vh;
  }
}

// Default styles

img {
  width: 100%;
  height: 100%;
}

h1,
.h1 {
  color: $c-secondary;
  font-size: $fs-h1;
  font-weight: $fw-bold;
}

h2,
.h2 {
  color: $c-secondary;
  font-size: $fs-h2;
  font-weight: $fw-bold;
}

h3,
.h3 {
  color: $c-secondary;
  font-size: $fs-h3;
  font-weight: $fw-medium;
}

p,
.p{
  color: $c-text;
  font-size: $fs-p;
  font-weight: $fw-medium;
}

span,
.span {
  color: $c-text;
  font-size: $fs-span;
  font-weight: $fw-light;
}

a,
.a{
  color: $c-secondary;
  font-size: $fs-p;
  font-weight: $fw-regular;
  cursor: pointer;
  text-decoration: none;
  height: fit-content;
  line-height: 1;

  &:hover {
    color: $c-highlight;
    border-color: $c-highlight !important;
  }
}

textarea,
input {
  text-decoration: none;
  outline: none;
  background: none;
  border: 1px solid #fff;
  padding: 10px 15px;
  color: $c-secondary;
  font-size: $fs-p;
  border-radius: 5px;
}

.container {
  width: 100%;
  max-width: $s-container;
  padding: 0 $s-indent;
  margin: 0 auto;
}

li {
  list-style: none;
  color: $c-text;
  font-size: $fs-p;
}

button {
  border: none;
  background: unset;
  font-size: $fs-p;
  cursor: pointer;
  color: $c-secondary;
}

.modal-open-btn {
  width: 100%;
  margin-top: 10px;
  font-size: $fs-span;
  text-align: left;
  text-decoration: underline;

  &:hover {
    color: $c-highlight;
    border-color: $c-highlight;
  }
}

.detail-full-cast-btn {
  position: relative;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border-radius: 10px;
  padding: 20px;
  font-size: $fs-h2 !important;
  text-align: center;
  max-height: 265px;
  margin-top: unset;
}

// Masonry

.searching-results-masonry__row {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  gap: 20px;
  width: auto;

  &-column {
    background-clip: padding-box;
  }

}

// Toast

/** Classes for the displayed toast **/

.Toastify__toast-theme--dark {
  background: $c-accent !important;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%) !important;
}

.Toastify__toast-container--top-right {
  top: 10px + $s-header-height !important;
}

.Toastify__toast {
}
.Toastify__toast--rtl {
}
.Toastify__toast-body {

}


// Ui

.details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  padding-right: 5px;
  margin-top: 20px;

  @media screen and (max-width: $bp-lg){
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $bp-slg){
    grid-template-columns: repeat(1, 1fr);
  }
}

.login-btn {
  //font-size: $h3;
  padding: 7px 10px;
  text-decoration: none;
  margin-top: unset;
  background: $c-primary;
  font-size: $fs-span;
  height: 100%;

  &__exit {
    &:hover {
      background: red;
    }
  }
}

.ui-dropdown__trigger {
  cursor: pointer;
  position: relative;

  &:hover {
    .ui-dropdown {
      display: flex;
    }
  }
}

@media screen and (max-width: $bp-sm){
  h2 {
    font-size: $fs-m-h2;
  }
}
