@import "variables.scss";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

._next,
html,
body,
body > div:first-of-type {
  height: 100%;
}

body {
  background: $background;
  background-size: cover;
}

// Scroll

*::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 6px;
  cursor: pointer;
  position: unset;
}

*::-webkit-scrollbar-track {
  border-radius: 2px;
  background: $primary
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $highlight
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  padding: 72px 0;
  flex: 1 1 auto;

  @media screen and (max-width: $md){
    min-height: 100vh;
  }
}

// Default styles

h1 {
  color: $secondary;
  font-size: $h1;
  font-weight: $bold;
}

h2 {
  color: $secondary;
  font-size: $h2;
  font-weight: $bold;
}

h3 {
  color: $secondary;
  font-size: $h3;
  font-weight: $medium;
}

p {
  color: $text;
  font-size: $p;
  font-weight: $medium;
}

span {
  color: $text;
  font-size: $span;
  font-weight: $light;
}

a {
  color: $secondary;
  font-size: $p;
  font-weight: $regular;
  cursor: pointer;
  text-decoration: none;
  height: fit-content;
  line-height: 0;

  &:hover {
    color: $highlight;
  }
}

input {
  text-decoration: none;
  outline: none;
  background: none;
  border: 1px solid #fff;
  padding: 10px 15px;
  color: $secondary;
  font-size: $p;
  border-radius: 5px;
}

.container {
  width: 100%;
  max-width: $container;
  padding: 0 $indent;
  margin: 0 auto;
}

li {
  list-style: none;
  color: $text;
  font-size: $p;
}

button {
  border: none;
  background: unset;
  font-size: $p;
  cursor: pointer;
  color: $secondary;
}

.modal-open-btn {
  width: 100%;
  margin-top: 10px;
  font-size: $span;
  text-align: left;
  text-decoration: underline;
  text-decoration-style: dotted;

  &:hover {
    color: $highlight;
    border-color: $highlight;
  }
}

// Masonry


.searching-results-masonry__row {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  gap: 20px;
  width: auto;

  &-column {
    background-clip: padding-box;
  }

}

// React Query Devtools

.ReactQueryDevtools {
  button {
    bottom: 0;
    right: 0 !important;
    left: unset !important;
    //bottom: unset !important;
  }
}

// Ui

.details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  padding-right: 5px;
  max-height: 590px;
  margin-top: 20px;
  overflow: auto;

  @media screen and (max-width: $lg){
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $slg){
    grid-template-columns: repeat(1, 1fr);
  }
}

.login-btn {
  //font-size: $h3;
  padding: 7px 10px;
  text-decoration: none;
  margin-top: unset;
  background: $primary;
  font-size: $span;
  height: 100%;

  &__exit {
    &:hover {
      background: red;
    }
  }
}

@media screen and (max-width: $sm){
  h2 {
    font-size: $mh2;
  }
}
