// Colors

$text: #9ca8b1;
$background: #1f242d;
$primary: #4F5D75;
$secondary: #FFFFFF;
$highlight: #0073fa;
$accent: #282f43;

// Font Sizes

$h1: 3em;
$h2: 2em;
$h3: 1.5em;
$p: 1.25em;
$span: 1em;

$mh1: 2.5em;
$mh2: 1.75em;
$mh3: 1.5em;
$mp: 1.25em;
$mspan: 1em;

// Font Weights

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Sizes

$indent: 24px;
$container: 1400 + ($indent * 2);
$headerHeight: 52px;
$borderRadius: 10px;

// Breakpoints

$xl: 1440px;
$lg: 1250px;
$slg: 825px;
$md: 700px;
$sm: 400px;
