@import "src/styles/variables";

.button {
  background: $accent;
  z-index: 1;
  position: relative;
  padding: 5px 10px;
  margin-left: 15px;
  margin-bottom: 20px;

  &:hover {
    color: $highlight;
  }

  &:before {
    z-index: -1;
    top: 5px;
    left: -12px;
    display: block;
    position: absolute;
    height: 23px;
    width: 23px;
    content: " ";
    transform: rotate(45deg);
    background-color: $accent;
    background-size: 100%;
  }
}
