@import "src/styles/variables";
.info-header {
  display: flex;
  gap: 50px;

  &__logo {
    max-width: 270px;
    width: 100%;
  }

  &__image {
    width: 100%;
    max-width: 300px;
  }

  &__about {
    &__title {
      h3 {
        color: $text;
      }

      &__mobile {
        display: none;
      }

    }

    &__list {
      padding-top: 20px;
      li {
        list-style: none;
        color: $text;
        font-size: $p;
        padding-bottom: 10px;

        span {
          all: unset;
          color: $secondary;
        }
      }
    }
  }
}

@media screen and (max-width: $md){

  .info-header {
    flex-direction: column;
    gap: 20px;

    &__logo {
      max-width: 300px;
      }
    &__image {
      max-width: 400px;
    }

    &__about {

      &__list {
        padding-top: 0;
      }

      &__title {
        display: none;

        &__mobile {
          display: block !important;
        }
      }
    }

  }
}
