@import "src/styles/variables";

.body {
  display: flex;
  gap: 50px;

  .info_block {
    width: 100%;

    .list {
      padding-top: 20px;

      li {
        list-style: none;
        color: $c-text;
        font-size: $fs-p;
        padding-bottom: 10px;
      }
    }
  }

  .title_block {
    h3 {
      color: $c-text;
    }

    &_mobile {
      display: none;
    }
  }

  .logo {
    max-width: 270px;
    width: 100%;
  }

  .image {
    width: 100%;
    max-width: 300px;

    img {
      object-fit: contain;
      border-radius: $s-border-radius;
    }
  }

}

.favorite_btn {
  font-size: $fs-p;
  padding: 10px 10px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  background: $c-accent;
  border-radius: 10px;

  svg {
    width: 25px;
    height: 25px;
    fill: $c-secondary;
  }
}

.status_selector {
  width: 100%;
  max-width: unset;

  & > div {
    width: 100%;
    max-width: unset !important;
  }
}

@media screen and (max-width: $bp-md) {

  .body {
    flex-direction: column;
    gap: 20px;

    .logo,
    .image {
      max-width: 475px;
    }

    .info_block {
      .list {
        padding-top: 0;
      }
    }

    .title_block {
      display: none;

      &_mobile {
        display: block !important;
      }
    }

  }
}
