@import "src/styles/variables";

.content {
  padding: 5px 10px;
  background: $c-accent;
  border-radius: 10px 0 0 10px;
  font-weight: unset;


  span {
    color: $c-secondary;
    cursor: pointer;

  }

  &:hover {
    .status-selector__tooltip {
      display: block;
    }
  }

  button {
    font-size: 1em;
    width: 100%;

    &:hover {
      color: $c-highlight;
    }
  }
}

.delete_btn {
  color: red;

  &:hover {
    color: red !important;
  }
}
