@import "src/styles/variables";

.body {
  width: 100%;
  position: fixed;
  background: $c-accent;
  z-index: 100;
  top: 0;
  min-height: $s-header-height;

  .content {
    padding: 10px $s-indent;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  .logo {
    cursor: pointer;
  }

  .logo_links,
  .links {
    display: flex;
    align-items: center;
    gap: 20px;

    .active_page {
      color: $c-highlight;
    }
  }
}


.locale-select {
  display: flex;
  gap: 10px;
  align-items: center;

  div {
    background: $c-text;
    height: 27px;
    width: 1px;
  }

  .active {
    color: $c-highlight;
  }
}

.mobile_body {
  display: none;
  height: 100%;

  .controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .handler {
    position: relative;
    height: 20px;
    width: 30px;
    display: flex;
    align-items: center;

    span,
    &:before,
    &:after {
      display: block;
      top: 0;
      right: 0;
      background-color: #fff;
      height: 2px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }

    &:before {
      content: "";
      //margin-top: -8px;
      position: absolute;
    }

    &:after {
      content: "";
      //margin-top: -8px;
      position: absolute;
      bottom: 0;
      top: unset;
    }
  }

  &_active {
    .mobile_body {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .menu {
      width: 100%;
      position: fixed;
      top: $s-header-height;
      height: 100%;
      background-color: rgba(0,0,0,0.5);

      nav {
        width: 100%;
        border-top: 1px solid $c-text;
        padding: $s-indent;
        background: $c-accent;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    .handler {
      span {
        display: none;
      }
      &:before {
        top: 50%;
        transform: rotate(405deg);
      }
      &:after {
        top: 50%;
        transform: rotate(-405deg);
      }
    }

    .logo {
      display: none;
    }
  }
}

@media screen and (max-width: $bp-md) {
  .body {
    .links {
      display: none;
    }

    .logo_links {
      div:nth-child(2) {
        display: none;
      }
    }

    .mobile_body {
      display: flex;
    }
  }
}
