@import "src/styles/variables";

.header {
  width: 100%;
  position: fixed;
  background: $accent;
  z-index: 100;
  top: 0;

  &__content {
    padding: 10px $indent;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  &__logo {
    cursor: pointer;
  }

  &__link-list {
    display: flex;
    gap: 20px;

    &__active-page {
      color: $highlight;

    }
  }
}


.locale-select {
  display: flex;
  gap: 10px;
  align-items: flex-end;

  div {
    background: $text;
    height: 27px;
    width: 1px;
  }

  &__active {
    color: $highlight;
  }
}
