REDIS_ENDPOINT=redis:6379
POSTGRES_ENDPOINT=postgres:5432
POSTGRES_USER=spaceman
POSTGRES_PASSWORD=
POSTGRES_DB=movietracker

UPTRACE_OTLP_ENDPOINT=http://uptrace:14318
UPTRACE_DSN=http://<token>@uptrace.movie-tracker.app?grpc=14318
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=
