@import "../../../styles/variables";

.details-modal {

  &__show-btn {
    background: none;
    border: none;
    color: $secondary;
    width: 100%;
    margin-top: 10px;
    font-size: $p;
    cursor: pointer;
    text-align: left;
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover {
      color: $highlight;
      border-color: $highlight;
    }
  }
}
