@import "src/styles/variables";

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.item {
  order: var(--order);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .start_edit_btn {
    svg {
      transform: scale(-1, 1);
      fill: $secondary;
      width: 0.8em;
      height: 0.8em;
    }
  }

  a {
    font-size: 1.1em;
  }
}

.add_new {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;

  button {
    font-size: 1em;
    text-align: left;
    font-weight: $regular;
  }


  svg {
    width: $span;
    height: $span;
    color: $secondary;
  }
}

.edit {
  display: flex;
  gap: 5px;
  padding-bottom: 5px;
  align-items: flex-end;

  input {
    border: unset;
    border-bottom: 1px solid $text;
    border-radius: unset;
    font-size: $span;
    width: 100%;
  }

  button {
    padding: 8px 10px;
    border-radius: 5px;
    background: $accent;
    height: fit-content;
    font-size: $span;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 0.9em;
      height: 0.9em;
    }

    &:nth-child(2):hover {
      background: limegreen;
    }

    &:nth-child(3):hover {
      background: red;
    }
  }

}
