@import "src/styles/variables";

.score_container {
  position: absolute;
  top: -10px;
  left: -10px;
}

.favorite_container {
  position: absolute;
  right: 0;
  top: 30px;
  max-width: fit-content;
  overflow: hidden;
  width: 35px;
  animation-duration: .7s;
  transition: width .7s;

  button {
    transition: all .5s;
    gap: 10px !important;
    white-space: nowrap;

    svg {
      transition: all .5s;
    }
  }

  &:hover {
    animation-name: showFullBtn;
    width: 100%;

    button {
      gap: 5px !important;
      white-space: nowrap
    }

    @keyframes showFullBtn {
      0% {
        width: 30px;
      }
      100% {
        width: 100%;
      }
    }
  }
}

.favorite_btn {
  font-size: $fs-span;
  padding: 5px 10px;
  background: $c-accent;
  border-radius: 10px 0 0 10px;

  svg {
    width: $fs-span;
    height: $fs-span;
    fill: $c-secondary;
  }
}

