@import "src/styles/variables";

.login-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  button {
    width: 100%;
    font-size: $h3;
    padding: 20px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background: var(--bg);
  }
}
