@import "src/styles/variables";

.title {
  color: $c-secondary;
  font-size: $fs-h1;
  font-weight: $fw-bold;
}

.title2 {
  color: $c-secondary;
  font-size: $fs-h2;
  font-weight: $fw-bold;

  @media screen and (max-width: $bp-sm){
    font-size: $fs-m-h2;
  }
}

.title3 {
  color: $c-secondary;
  font-size: $fs-h3;
  font-weight: $fw-medium;
}

.text {
  color: $c-text;
  font-size: $fs-p;
  font-weight: $fw-medium;
}

.textSmall {
  color: $c-text;
  font-size: $fs-span;
  font-weight: $fw-light;
}

.linkUnderlined,
.link {
  color: $c-secondary;
  font-size: $fs-p;
  font-weight: $fw-regular;
  cursor: pointer;
  text-decoration: none;
  height: fit-content;
  line-height: 1;

  &:hover {
    color: $c-highlight;
    border-color: $c-highlight !important;
  }
}

.linkUnderlined {
  border-bottom: 1px solid $c-secondary;
}

.listItem {
  color: $c-secondary;
  font-size: $fs-p;
  font-weight: $fw-regular;
}

