@import "src/styles/variables";

.button {
  display: flex;
  align-items: center;
  gap: 5px;

  &_add:hover {
    color: $c-highlight;

    svg {
      fill: $c-highlight;
    }
  }

  &_remove:hover {
    color: red;

    svg {
      fill: red;
    }
  }

  &_without_hover:hover {
    color: $c-secondary;

    svg {
      fill: $c-secondary;
    }
  }
}
