@import "src/styles/variables";

.button {
  display: flex;
  align-items: center;
  gap: 5px;

  &_add:hover {
    color: $c-highlight;
    --loader-color: #{$c-highlight};

    svg {
      fill: $c-highlight;
    }
  }

  &_remove:hover {
    color: red;
    --loader-color: red;

    svg {
      fill: red;
    }
  }

  &_without_hover:hover {
    color: $c-secondary;

    svg {
      fill: $c-secondary;
    }
  }

  &_loading {
    cursor: auto;

    &:hover {
      color: $c-secondary;
      --loader-color: #{$c-secondary};

    }

    --loader-size: 1em;
    --loader-thickness: 3px;
  }
}
