@mixin fullWidthBg ($background) {
  box-shadow: 0 0 0 100vmax $background;
  clip-path: inset(0 -100vmax);
  background: $background;
}

@mixin card () {
  width: 100%;
  height: fit-content;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 14px;
  position: relative;
  box-shadow: var(--sd-default);
  border-radius: var(--s-border-radius);
}

@mixin slideFromRight ($defaultShowedWidth) {
  transition: all .5s;
  transform: translateX(calc(100% - $defaultShowedWidth));

  &:hover {
    transform: translateX(0);
  }
}

@mixin cardSideButton () {
  border-radius: var(--s-border-radius) 0 0 var(--s-border-radius);
  gap: 6px;
  padding: 5px 10px;
  font-size: var(--fs-span);
  background: var(--c-accent);
  font-weight: var(--fw-light);
  line-height: 1;
}
