@import "src/styles/variables";

.container {
  padding: 5px;
  background: $accent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.indicator {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: conic-gradient(var(--progressColor) var(--progress), $background 0deg);
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: $accent;
  }

  span {
    position: relative;
    font-size: $span;
    font-weight: $bold;
    line-height: 0;
    color: $secondary;
  }
}
