@import "src/styles/variables";
@import "src/styles/mixins";

.dropdown_btn {
  position: sticky;
  top: $headerHeight;
  z-index: 25;
  border: none !important;
  justify-content: space-between !important;
  margin-bottom: 20px !important;
  font-size: $h3 !important;
  border-bottom: 2px solid $text !important;
  @include fullWidthBg($background);

  @media screen and (max-width: $sm){
    font-size: $p !important;
  }
}
