@import "src/styles/variables";

.body {
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid $text;
  background: $background;

  ul {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;


    span {
      color: $secondary;
    }

    li,
    a {
      font-size: $span !important;
      font-weight: $regular !important;
    }

    li:not(:last-child) {
      position: relative;

      &:before {
        content: "";
        width: 3px;
        height: 3px;
        position: absolute;
        background: $secondary;
        top: 50%;
        border-radius: 50%;
        right: -13px;
      }
    }
  }
}

@media screen and (max-width: $md){
  .body {
    ul {
      margin: unset;
      flex-direction: column;
      li:before {
        display: none;
      }
    }
  }
}
