@import "../../../styles/variables";

.info_block {
  padding-top: 20px;

  .text {
    padding-top: 10px;
  }
}

.videos_grid {
  margin-top: 20px;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill,300px);
  justify-content: space-between;
  grid-column-gap: 20px;
  width: 100%;
}

.videos_showAll {
    max-height: 253px;
    height: 100%;
}

@media screen and (max-width: $md) {
  .videos_grid {
    grid-template-columns: 1fr;
  }
}
