@import "src/styles/variables";

.card {
  width: 100%;
  height: fit-content;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px auto;
  padding: 20px;
  gap: 15px;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: $borderRadius;

 &__horizontal {
   flex-direction: row;
   max-width: unset;
   height: unset;
   gap: 40px;

   .card__image {
     max-width: 150px;
     min-width: 150px;
   }
 }

  &__info {
    width: 100%;
  }

  &__image {
    width: 100%;
    cursor: pointer;
    border-radius: $borderRadius;
    height: fit-content;
    position: relative;

    img {
      border-radius: $borderRadius;
    }
  }

  &__title {
    color: #fff;
  }
}

@media screen and (max-width: $md){
  .card {
    max-width: unset;
  }
  .card__horizontal {
    flex-direction: column;
    gap: 15px;

    .card__image {
      max-width: unset;
    }
  }
}
