@import "mixins";

:root {
  /* Colors */

  --c-main-background: #0d0d0d;
  --c-main-background-20: rgba(13, 13, 13, 0.2);
  --c-header-footer-background: #101010;
  --c-card-background: #121212;
  --c-card-background-hovered: #1d1d1d;
  --c-tooltip-background: #292929;
  --c-black-90: rgba(3, 3, 3, 0.9);
  --c-black-30: rgba(3, 3, 3, 0.3);
  --c-white-05: rgba(255, 255, 255, 0.05);
  --c-white-06: rgba(255, 255, 255, 0.06);
  --c-white-08: rgba(255, 255, 255, 0.08);
  --c-white-10: rgba(255, 255, 255, 0.1);
  --c-white-12: rgba(255, 255, 255, 0.12);
  --c-white-15: rgba(255, 255, 255, 0.15);
  --c-white-35: rgba(255, 255, 255, 0.35);
  --c-white-50: rgba(255, 255, 255, 0.5);
  --c-white-60: rgba(255, 255, 255, 0.6);
  --c-white-70: rgba(255, 255, 255, 0.7);
  --c-white-75: rgba(255, 255, 255, 0.75);
  --c-white-80: rgba(255, 255, 255, 0.8);
  --c-gray-40: rgba(50, 50, 50, 0.4);
  --c-gray: #6b6b6b;
  --c-green-15: rgba(84, 220, 97, 0.15);
  --c-green: #54dc61;
  --c-green-2: #1fa02c;
  --c-red: #da2929;
  --c-orange-15: rgba(220, 125, 84, 0.15);
  --c-orange: #e96c26;
  --c-orange-2: #f97316;
  --c-gold: rgba(212, 173, 74, 1);
  --c-gold-15: rgba(212, 173, 74, 0.15);
  --c-gold-20: rgba(212, 173, 74, 0.20);
  --c-gold-25: rgba(212, 173, 74, 0.25);
  --c-gold-30: rgba(212, 173, 74, 0.30);
  --c-text: #ffffff;
  --c-text-secondary: #d9d9d9;
  --c-error: #ff9288;
  --c-error-2: #d4382b;
  --c-blue: #78b6ff;
  --c-blue-15: rgba(20, 117, 230, 0.15);
  --c-stroke: #3d3d3d;
  --c-stroke-2: #272727;
  --c-button-background-primary: #1475e6;
  --c-button-background-primary-hovered: #0061d2;
  --c-button-background-secondary: #1c2631;
  --c-button-background-secondary-hovered: #26303b;
  --c-button-background-tertiary: rgba(198, 70, 70, 0.1);
  --c-button-background-tertiary-hovered: rgba(198, 70, 70, 0.15);
  --c-button-link-border: #4a698e;
  --c-label-secondary: #60a7fb;
  --c-label-link: #60a5fa;
  --c-label-lihk-hovered: #7ec3ff;
  --c-label-tertiary: #c64646;
  --c-description: #9f9f9f;
  --c-toast-success-background: rgba(53, 146, 63, 0.2);
  --c-toast-error-background: rgba(155, 55, 47, 0.25);

  /* Font Family */

  --ff-fallback:
    -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  --ff-neue-haas: "NeueHaasUnica", sans-serif;
  --ff-libra-franklin: "Libre Franklin", "Inter";
  --ff-inter: "Inter", sans-serif;

  /* Font Sizes */

  --fs-h1: 3rem; /* 48px */
  --fs-h2: 2.5rem; /* 40px */
  --fs-h3: 1.875rem; /* 30px */
  --fs-h4: 1.25rem; /* 20px */
  --fs-subheading: 1.125rem; /* 18px */
  --fs-logo: 1.063rem; /* 17px */
  --fs-p: 1rem; /* 16px */
  --fs-label: 1rem; /* 16px */
  --fs-label-small: 0.875rem; /* 14px */
  --fs-list-title: 1.125rem; /* 18px */
  --fs-card-title: 1rem; /* 16px */
  --fs-description: 0.875rem; /* 14px */
  --fs-badge: 0.75rem; /* 12px */
  --fs-input: 1rem; /* 16px */
  --fs-input-small: 0.875rem; /* 14px */
  --fs-input-error: 0, 75rem; /* 12px */
  --fs-score: 0.875rem;
  --fs-landing-title: 4rem;

  @include tabletDevice() {
    --fs-h1: 2.5rem; /* 40px */
    --fs-h2: 2rem; /* 32px */
    --fs-h3: 1.875rem; /* 30px */
    --fs-h4: 1.5rem; /* 24px */
    --fs-subheading: 1.125rem; /* 18px */
    --fs-logo: 1.063rem; /* 17px */
    --fs-p: 1rem; /* 16px */
    --fs-label: 1rem; /* 16px */
    --fs-label-small: 0.875rem; /* 14px */
    --fs-list-title: 1.125rem; /* 18px */
    --fs-card-title: 1rem; /* 16px */
    --fs-description: 0.875rem; /* 14px */
    --fs-badge: 0.75rem; /* 12px */
    --fs-input: 1.125rem; /* 18px */
    --fs-input-error: 0, 75rem; /* 12px */
    --fs-score: 0.875rem;
    --fs-landing-title: 3.5rem;
  }

  @include mobileDevice() {
    --fs-h1: 1.5rem; /* 24px */
    --fs-h2: 1.5rem; /* 24px */
    --fs-h3: 1.313rem; /* 21px */
    --fs-h4: 1.125rem; /* 18px */
    --fs-subheading: 0.875rem; /* 14px */
    --fs-logo: 1.063rem; /* 17px */
    --fs-p: 0.875rem; /* 14px */
    --fs-label: 1rem; /* 16px */
    --fs-label-small: 0.875rem; /* 14px */
    --fs-list-title: 1rem; /* 10px */
    --fs-card-title: 1rem; /* 16px */
    --fs-description: 0.75rem; /* 12px */
    --fs-badge: 0.75rem; /* 12px */
    --fs-input: 0.875rem; /* 14px */
    --fs-input-error: 0, 75rem; /* 12px */
    --fs-score: 0.875rem;
    --fs-landing-title: 2.25rem;
  }

  /* Line heights */

  --lh-h1: 3.25rem;
  --lh-h2: 2.75rem;
  --lh-h3: 2rem;
  --lh-h4: 1.75rem;
  --lh-subheading: 1.375rem;
  --lh-p: 1.5rem;
  --lh-label: 1.25rem;
  --lh-label-small: 1.25rem;
  --lh-list-title: 1.25rem;
  --lh-card-title: 1.25rem;
  --lh-description: 1.125rem;
  --lh-badge: 1rem;
  --lh-input: 1.5rem;
  --lh-input-small: 1.25rem;
  --lh-input-error: 1.125rem;
  --lh-score: 1rem;
  --lh-logo: 1.5rem;
  --lh-landing-title: 4.375rem;

  @include tabletDevice() {
    --lh-h1: 2.75rem;
    --lh-h2: 2.25rem;
    --lh-h3: 1.875rem;
    --lh-h4: 1.75rem;
    --lh-subheading: 1.375rem;
    --lh-p: 1.5rem;
    --lh-label: 1.5rem;
    --lh-label-small: 1.25rem;
    --lh-list-title: 1.25rem;
    --lh-card-title: 1.25rem;
    --lh-description: 1.125rem;
    --lh-badge: 1rem;
    --lh-input: 1.5rem;
    --lh-input-error: 1.125rem;
    --lh-score: 1rem;
    --lh-logo: 1.5rem;
    --lh-landing-title: 3.875rem;
  }

  @include mobileDevice() {
    --lh-h1: 1.625rem;
    --lh-h2: 1.4375rem;
    --lh-h3: 1.25rem;
    --lh-h4: 1.25rem;
    --lh-subheading: 1.375rem;
    --lh-p: 1.25rem;
    --lh-label: 1.25rem;
    --lh-label-small: 1.25rem;
    --lh-list-title: 1.375rem;
    --lh-card-title: 1.25rem;
    --lh-description: 1.125rem;
    --lh-badge: 0.875rem;
    --lh-input: 1.5rem;
    --lh-input-error: 1.125rem;
    --lh-score: 1rem;
    --lh-logo: 1.5rem;
    --lh-landing-title: 2.5rem;
  }

  /* Font Weights */

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* Sizes */

  --s-indent: 24px;
  --s-container: calc(1200px + (var(--s-indent) * 2));
  --s-header-height: 68px;
  --s-border-radius-super-huge: 16px;
  --s-border-radius-huge: 12px;
  --s-border-radius: 8px;
  --s-border-radius-medium: 6px;
  --s-border-radius-small: 4px;
  --s-disabled-opacity: 0.5;

  /* Indexes */

  --i-toast: 1100;
  --i-toast-progress: 1000;

  --i-header: 100;
  --i-ui-details: 90;

  --i-dropdown: 150;
  --i-tooltip: 150;
  --i-select: 150;
  --i-hover-card: 40;
  --i-modal: 100;
  --i-modal-fullcreen: 110;

  /* Lib */

  --toastify-color-dark: var(--c-accent);
}
