@import "src/styles/variables";

.tabs {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid $c-text;

  button {
    width: 100%;
    padding: 5px 0;
    font-weight: 400;
    font-size: $fs-span;

    &:not(:last-of-type) {
      border-right: 1px solid $c-text;
    }

    &:hover,
    &.active {
      color: $c-highlight;
    }

    svg {
      width: $fs-p;
      height: $fs-p;
      color: $c-secondary;
    }
  }
}
