.wrapper {
  cursor: pointer;
  display: unset;

  & > * {
    transition: all 0.2s linear;
  }


  &.active {
    & > * {
      color: transparent !important;
      text-shadow: 0 0 15px rgba(255, 255, 255, 0.8) !important;
    }
  }
}
