@import "src/styles/variables";

.score_container {
  position: absolute;
  top: -10px;
  left: -10px;
}

.favorite_container {
  position: absolute;
  right: 0;
  top: 30px;

  max-width: fit-content;
  display: flex;
  justify-content: flex-end;
  width: 30px;
  transition: all .5s;

  .trigger_wrapper {
    display: flex;
    justify-content: flex-end;
  }

  & > div {
    position: relative;
  }


  &:hover {
    .favorite_btn {
      width: 100%;
      gap: 5px;
    }
  }
}

.favorite_btn {
  font-size: $fs-span;
  padding: 5px 10px;
  background: $c-accent;
  border-radius: 10px 0 0 10px;
  gap: 10px;
  white-space: nowrap;

  overflow: hidden;
  width: 30px ;
  transition: all .5s;

  &:hover {
    width: 100%;
    gap: 5px;
  }

  svg {
    width: $fs-span;
    height: $fs-span;
    fill: $c-secondary;
    transition: all .5s;
    overflow: visible;
  }
}
