@import "src/styles/variables";

.status-selector {
  padding: 5px 10px;
  background: $accent;
  border-radius: 10px 0 0 10px;
  font-weight: unset;
  position: relative;


  span {
    color: $secondary;
    cursor: pointer;

  }

  &:hover {
    .status-selector__tooltip {
      display: block;
    }
  }

  &__tooltip {
    display: none;
    right: 0;
    position: absolute;
    width: max-content;

    &__content {
      padding: 15px 10px;
      background: $accent;
      width: 100%;
      display: flex;
      margin-top: 10px;
      border-radius: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-weight: unset;

      button {
        font-size: 1em;
        width: 100%;
        &:hover {
          color: $highlight;
        }
      }
    }
  }

  &__delete-btn {
    color: red;

    &:hover {
      color: red !important;
    }
  }
}
